.App {
  text-align: center;
    min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: coral;
}
.name{
  color:skyblue;
  align-items: center;
}
.photos{
  
  align-items: center;
}
.adress{
  align-items: center;
  color: aqua;
}

